@import 'root';

@media (max-width: 1600px) {
    html {
        font-size: 16px
    }
}

@media (max-width: 1550px) {
    html {
        font-size: 15.5px
    }
}

@media (max-width: 1500px) {
    html {
        font-size: 15px
    }
}

@media (max-width: 1450px) {
    html {
        font-size: 14.5px
    }

    .aside {
        width: 2rem;

        &.open {
            width: 5rem;

            &>* {
                opacity: 1;
                visibility: visible;
            }
        }

        &>*:not(button) {
            opacity: 0;
            visibility: hidden;
        }

        &:hover {
            & {
                width: 5rem;

                >* {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 14px
    }
}

@media (max-width: 1350px) {
    html {
        font-size: 13.5px
    }
}

@media (max-width: 1300px) {
    html {
        font-size: 13px
    }
}

@media (max-width: 1250px) {
    html {
        font-size: 12.5px
    }

    .wrap {
        width: calc(100% - 100px);
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    p {
        font-size: 0.875rem;
    }

    h2 {
        font-size: 2.25rem; //36px
    }

    h4 {
        font-size: 1.5rem; //24px
    }

    .wrap {
        width: calc(100% - 30px);
    }

    .showroom {
        &::before {
            width: 80%;
        }

        &__subTitle {
            position: static;
        }

        &__box {
            margin-top: 1rem;
            flex-wrap: wrap;
        }

        &__content {
            margin-top: 1.5rem;
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &__slider {
            &Option {
                margin-bottom: 0.625rem;
                max-width: 100%;
            }

            &Box {
                max-width: 100%;
                order: -1;
                position: static;
            }
        }

        &__nav {
            width: auto;
        }

        &__btn {
            display: none;
        }
    }

    .nav {
        display: none;

        &__list {
            flex-wrap: wrap;
        }
    }

    .mainMenu {

        max-height: 100vh;
        overflow-y: auto;

        &__logo {
            display: block;
        }

        &__close {
            top: 0.625rem;
            right: 0;
        }

        &__search {
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding-bottom: 0;
        }

        &__box {
            padding-top: 0.625rem;
            flex-wrap: wrap;
        }

        &__list {
            margin-top: 1rem;
            width: 100%;

            &Title {
                margin-bottom: 2rem;
                font-size: 1.5rem;
                font-weight: bold;
                position: relative;
                display: inline-block;

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: -1rem;
                    height: 1px;
                    width: 6px;
                    background-color: $gen;
                    transform: rotate(45deg);
                    transition: transform .3s, background-color .3s;
                }

                &::before {
                    right: calc(-1rem - 4px);
                    transform: rotate(-45deg);
                }

                &.isOpen {
                    &::after {
                        transform: rotate(-45deg);
                    }

                    &::before {
                        transform: rotate(45deg);
                    }

                    &~.catalog__selectOptions {
                        opacity: 1;
                    }
                }
            }

            &Item {
                font-size: 1.125rem;
                display: none;
                margin-bottom: 0.8rem;
                padding-left: 0.8rem;
            }
        }

        &__item {
            padding-bottom: 0;
            margin-bottom: 0.8rem;
            position: relative;
            display: inline-block;

            &::after,
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: -1rem;
                height: 1px;
                width: 6px;
                background-color: $gen;
                transform: rotate(45deg);
                transition: transform .3s, background-color .3s;
            }

            &::before {
                right: calc(-1rem - 4px);
                transform: rotate(-45deg);
            }

            &.isOpen {
                &::after {
                    transform: rotate(-45deg);
                }

                &::before {
                    transform: rotate(45deg);
                }

                &~.catalog__selectOptions {
                    opacity: 1;
                }
            }

            &Sub {
                display: none;
                margin-bottom: 0;
                padding-left: 0.625rem;
                padding-bottom: 0.8rem;
            }
        }

        &__footer {
            position: static;

            &Box {
                padding-top: 3rem;
                flex-wrap: wrap;
                justify-content: center;

            }
        }

        &__street,
        &__footerPhone {
            width: 100%;
            text-align: center;
            margin-top: 1.875rem;
        }
    }

    .aside {
        padding: 8px 0;
        position: relative;
        height: auto;
        width: calc(100% - 30px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        border: none;

        &:hover {
            width: calc(100% - 30px);
        }

        &__toggle {
            height: auto;
            width: 1.8rem;
            height: 1.2rem;
            box-sizing: border-box;

            &-line {
                display: block;
            }

            &::after,
            &::before,
            &-line {
                background-color: $sub;
                width: 100%;
                left: 0;
                top: 0;
                height: 1px;
            }

            &::before {
                top: auto;
                bottom: 0;
            }
        }

        &__search {
            display: block;
        }

        &__logo {
            opacity: 1 !important;
            visibility: visible !important;
            padding: 0;
            height: 3.6rem;
            border: none;
        }

        &__social {
            display: none;
        }
    }

    .detail {
        &__item {
            padding-top: 3rem;
            margin-top: 2rem;
            flex-wrap: wrap;
        }

        &__gallery {
            margin-top: 2rem;
            padding: 0;
            width: 100%;
        }

        &__info {
            padding: 0;
            width: 100%;
        }

        &__title {
            position: absolute;
            top: 0;
            max-width: calc(100% - 30px);
            left: 15px;
        }

        &__priceBar {
            margin-top: 3.125rem;
            margin-bottom: 2.875rem;
        }

        &__price-perItem {
            font-size: 0.875rem;
            color: $gen;
        }

        &__slider {
            .owl-thumbs {
                margin-top: 0.4rem;
            }
        }

        &__gallery {
            .owl-item {
                height: 20.625rem;
            }
        }

        &__description {
            &Title {
                font-size: 1.125rem;
            }
        }

        &__submit {
            max-width: 100%;
        }
    }

    .offers {
        &__subTitle {
            font-size: 0.75rem;
        }

        &__item {
            &Title {
                font-size: 1rem;
            }
        }

        &__compareBtn {
            left: 0;
        }

        &__favoriteBtn {
            right: 0;
        }

        &__info {
            padding: 1rem 0;
        }

    }

    .catalog {

        &__filter {
            display: none;

            &--mobile {
                flex-wrap: wrap;
                justify-content: space-between;
                z-index: 2;
                background-color: #ffffff;
                width: 100%;
                display: flex
            }

            &Mobile {
                z-index: 2;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        &__select {
            width: 48%;
            margin-bottom: 3.25rem;
            border-right: 1px solid $text;
            z-index: initial;

            &Btn {
                z-index: initial;
            }

            &Option {
                // border-right: 1px solid $text;
            }
        }

        &__filtersBtn,
        &__categoryBtn {
            width: 50%;

            height: 2.875rem;
            margin-bottom: 0;

        }

        &__filtersBtn {
            font-size: 0.875rem;
            border: 1px solid $text;
            border-left: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            & svg {
                margin-left: 1rem;
            }
        }

        &__orderBtn {
            display: block;
            height: 5rem;
            margin-top: 1rem;
            // position: absolute;
            // bottom: 0;
            // left: 0;
            width: 100%;
            color: #ffffff;
            background-color: $el;
            border: 1px solid $el;
            box-sizing: border-box;
            text-transform: uppercase;
            letter-spacing: 0.08em;

            &:active {
                background-color: #fff;
                color: $el;
            }
        }

        &__other {
            display: none;
        }

        &__otherFilter {

            display: none;
            padding-bottom: 4rem;
            z-index: 2;

            &Row {
                flex-wrap: wrap;
            }

            &Title {
                width: 100%;

                position: relative;
                padding-right: 2rem;

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 1rem;
                    height: 1px;
                    width: 6px;
                    background-color: $gen;
                    transform: rotate(45deg);
                    transition: transform .3s, background-color .3s;
                }

                &::before {
                    right: calc(1rem - 4px);
                    transform: rotate(-45deg);
                }

                &.isOpen {
                    &::after {
                        transform: rotate(-45deg);
                    }

                    &::before {
                        transform: rotate(45deg);
                    }

                }

                &Input {
                    max-width: 35%;
                }
            }

            &Box {
                padding-top: 1rem;
                display: none;
            }

            &Apply {
                max-width: 100%;
            }

            &Cancel {
                display: block;
                margin: 2rem auto 0;
                height: auto;
            }
        }

        &__sale {
            display: none;
        }

        &__list {
            width: 100%;
        }

        &__box {
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__item {
            position: relative;
            width: 48%;
            padding-bottom: 5rem;
            margin-top: 0;
            margin-bottom: 2rem;
            margin-right: 4%;

            &:not(:nth-child(2n)) {
                margin-top: 0;
                margin-right: 0;

                &--short {
                    margin-right: 4%;
                }
            }

            &--short {
                margin-right: 0;

                &:not(:nth-child(2n)) {
                    margin-top: 0;
                    margin-right: 4%;
                }

            }
        }

        &__descriptionItem {
            font-size: 0.75rem;
        }

    }

    .category {
        &__item {
            width: 100%;
        }

        &__link {
            width: 100%;
        }

        &__info {
            height: auto;
            padding-top: 0.4rem;
        }
    }

    .contacts {
        &__title {
            margin-bottom: 2rem;
        }

        &__box {
            margin-bottom: 4rem;
        }

        &__box,
        &__row {
            flex-wrap: wrap;
        }

        &__col-left,
        &__col-right,
        &__map,
        &__showroomBtn {
            width: 100%;
            margin-bottom: 2rem;
        }

        &__col-left {
            margin-bottom: 3rem;
        }

        &__map,
        &__showroomBtn {
            height: 12rem;
            width: 100%;
        }

    }

    .notFound {
        padding: 3rem 0 1rem;

        &__box {
            background-image: none;
        }

        &__title {
            font-size: 8.75rem;
            text-align: center;
        }

        &__subtitle {
            margin-bottom: 1.4rem;
        }
    }

    .goods {
        &__box {
            flex-wrap: wrap;
        }

        &__nav {
            width: 100%;
            display: flex;
            position: static;
        }

        &__gallery {
            width: 100%;

            &Item {
                width: 100%;
                background-color: $bgc;

            }

            &Content {
                padding: 0 1.25rem 2rem;
                position: relative;
            }

            &Title {
                display: block;
            }

            &Footer {
                margin-top: 1rem;
            }

            &Link {
                position: absolute;
                padding: 0;
                height: 100%;
                bottom: 0;
                left: 0;
                border-radius: 0;
                margin: 0;
                border: none;
                width: 100%;

                & svg {
                    display: none;
                }
            }
        }
    }

    .employee {
        margin-bottom: 2rem;

        &__item {
            position: relative;
            flex-wrap: wrap;
            padding-top: 10rem;
        }

        &__about {
            margin-bottom: 1rem;
        }

        &__subTitle {
            font-size: 1rem;
            margin-bottom: 2rem;
        }

        &__header {
            position: absolute;
            bottom: auto;
            top: 0;
            left: 0;
        }

        &__image {
            width: 100%;
            height: auto;

            &Box {
                width: 100%;
                height: auto;
                margin-bottom: 2.25rem;
            }
        }

        &__content {

            position: static;
            padding: 0;
            width: 100%;
        }

        &__text>p {
            font-size: 1rem;
        }

        &__request {
            margin: 2rem 0 0 0;
        }
    }

    .events {
        margin-bottom: 5.5rem;
        padding-bottom: 3rem;

        &::before {
            content: '';
            background-color: $bgc;
            top: auto;
            bottom: 0;
            width: 100%;
            height: 50%;
        }

        &__header {
            margin-bottom: 2rem;
            flex-wrap: wrap;
        }

        &__title {
            width: 100%;
            max-width: 100%;
            margin-bottom: 2rem;
        }

        &__box {
            flex-wrap: wrap;
        }

        &__videoBox {
            height: 15rem;
        }

        &__nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__counter {
            font-size: 0.875rem;

            &s {
                height: auto;
            }

        }

        &__content {
            width: 100%;
            margin-top: 1.4rem;
        }

        &__slider {
            width: 100%;
            margin-bottom: 2rem;
            order: -1;
        }
    }

    .tips {
        margin-bottom: 6rem;
    }

    .partners {
        margin-bottom: 0;

        &__box {
            flex-wrap: wrap;
        }

        &__title {
            width: 100%;
            font-size: 2.25rem;
            font-family: 'Forum';
            margin-bottom: 5.625rem;
        }

        &__list {
            justify-content: space-between;
            width: 100%;
        }

        &__item {
            padding: 0;
            margin: 0 0 3rem 0;
            width: 48.5%;
        }
    }

    .contacts {
        padding-top: 3rem;

        &__subTitle {
            font-size: 1rem;
        }

        &__box {
            margin-bottom: 0;
        }

        &__item {
            font-size: 1rem;

            &-phone {
                font-size: 1.125rem;
            }
        }

        &__social {
            padding-top: 2rem;
        }
    }

    .footer {
        &__box {
            flex-wrap: wrap;
            position: relative;
        }

        &__col {
            width: 100%;

            &-last {
                margin-top: 0.8rem;
                text-align: left;
                justify-content: flex-start;
            }
        }

        &__nav {
            width: 50%;
            order: -1;
            margin-bottom: 3rem;
        }
    }

    .policity {
        text-align: left;
        margin: .8rem 0 0 0;
    }

    .asap {
        margin: 0;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    .showroom {
        margin-bottom: 5rem;
    }

    .goods {
        &__title {
            font-size: 1.5rem;
            margin-bottom: 7rem;
        }

        &__nav {
            & .owl-item {
                transition: none;
                display: inline-flex;

                &:not(.active) {
                    opacity: 1;
                }
            }

        }
    }

    .catalog {
        &__item {
            width: 100%;
            margin-right: 0;
        }
    }

    .recall {
        &__box {
            margin-top: 2rem;
            flex-wrap: wrap;
        }

        &__field {
            width: 100%;
            margin-bottom: 2rem;
        }

        &__submit {
            max-width: 100%;
        }
    }

    .offers {
        &-set {
            &__box {
                padding: 1rem;
                padding-bottom: 2rem;
            }

            &__sale,
            &__price {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: flex-start;
            }

            &__val,
            &__sale--val {
                padding-left: 0;
            }
        }
    }

    .compare {
        &__header {
            z-index: 2;
            position: relative;
        }

        &__resetBtn {
            width: 50%;
            border: 1px solid $text;
            height: 2.875rem;
            box-sizing: border-box;
            justify-content: center;
        }

        &__tabs {
            display: none;

            &--mobile {
                border-right: 0;
                height: 2.875rem;
                width: 50%;
                display: block;
                margin-bottom: 0;
            }
        }

        &__col {
            padding-top: 10rem;
            width: 40%;
        }

        &__row {
            font-size: 0.75rem;
        }

        &__items {
            width: 60%;
        }

        &__item {
            &Image {
                min-height: 10rem;
                height: 10rem;
            }
        }
    }

    .objects {
        &__box {
            flex-wrap: wrap;
        }

        &__tabs {
            width: 100%;
            display: flex;

            &Item {
                margin-right: 2rem;
            }
        }

        &__content {
            width: 100%;
        }

        &__item {
            padding: 0;
            background-color: #fff;
            flex-wrap: wrap;
            display: flex;
            margin-bottom: 5rem;

            &Description {
                width: 100%;
            }

            &Gallery {
                position: static;
                order: -1;
                // margin-left: -15px;
                // width: calc(100% + 30px)
                width: 100%;
            }
        }
    }

    .object {
        &__box {
            flex-wrap: wrap;
            position: relative;
        }

        &__tabs {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 3rem;

            &Item {
                display: inline-flex;
                margin-right: 2rem;

            }

        }

        &__content {
            max-width: 100%;
        }

        &__item {
            padding-left: 0;
            padding-right: 0;

            &::before {
                width: 100%;
            }

            &Text {
                margin-top: 2rem;
                padding-bottom: 3rem;
            }

            &Video {
                height: 10.625rem;
                padding-bottom: 1rem;
            }
        }

        &__comments {
            &Item {
                flex-wrap: wrap;
            }

            &Header {
                width: 100%;
                margin-bottom: 1.875rem;
            }

            &Content {
                width: 100%;
            }
        }
    }

    .share {
        z-index: 2;
        position: absolute;
        right: 15px;
        top: 4rem;
        left: auto;
        width: auto;
        height: 100%;

        &__box {
            position: sticky;
            top: 5rem;
            right: 0;
        }
    }

    .about {
        &__inst {
            padding-bottom: 3rem;

            &Nav {
                margin-top: 2rem;
                justify-content: flex-end;
                flex-wrap: wrap;
            }

            &Subscribe {
                width: 100%;
                flex-wrap: wrap;

                &Text {
                    width: 100%;
                }
            }

            &Btn {
                margin-top: 1.4rem;
                width: 100%;
                height: 4.5rem;
            }

            &Controls {
                margin-bottom: 2rem;
                order: -1;
            }
        }
    }

    .team {
        &__title {
            margin: 10rem 0 5.625rem;
        }

        &__item {
            flex-wrap: wrap;
            margin-bottom: 3.75rem;
        }

        &__image {
            width: 100%;
            height: 18.75rem;
            object-fit: cover;
            margin-bottom: 2rem;
        }

        &__content {
            padding-left: 0;
            width: 100%;
        }

        &__name {
            margin-bottom: 1rem;
        }

        &__status {
            margin-bottom: 1.625rem;
        }

        &__exp {
            margin-bottom: 0.75rem;
        }

        &__links {
            margin-bottom: 1.25rem;
        }

        &__contact {
            margin-bottom: 0.75rem;
        }
    }

    .cert {
        &__box {
            flex-wrap: wrap;
        }

        &__header {
            width: 100%;
            margin-bottom: 1.5rem;
        }

        &__gallery {
            width: 100%;
        }

        &__description {
            height: 6rem;
            font-size: 1.3rem;
        }

        &__slider {
            width: 100%;
        }
    }

    .news {
        &__tabs {
            width: 100%;
            order: -1;
            position: static;
            display: flex;
            margin-bottom: 2rem;

            &Item {
                font-size: 1.125rem;
                margin-right: 1.25rem;
                margin-bottom: 0;
            }
        }

        &__item {
            position: relative;
            flex-wrap: wrap;
            width: 100%;
            max-width: 100%;
            padding-bottom: 2rem;
            margin-bottom: 2.75rem;

            &::before {
                content: '';
                bottom: 0;
                left: -15px;
                width: 100vw;
                height: 80%;
                background-color: $bgc;
                z-index: -1;
                position: absolute;
            }

            &Image {
                width: 100%;
                max-width: 100%;
                position: static;
            }

            &Description {
                width: 100%;
                max-width: 100%;
                padding: 0;
                background-color: transparent;
            }
        }

        &__offer {
            height: 14.375rem;
            width: 100%;
            position: relative;

            &Link {
                font-size: 0.875rem;
                margin-bottom: 0.6rem;
            }

            &Content {
                padding-bottom: 1.25rem;
            }

        }
    }

    .solution {
        &__item {
            flex-wrap: wrap;

            &Description {
                min-height: 0;
                padding: 0;
                width: 100%;
            }

            &Image {
                position: static;
                width: 100%;
                margin-top: 2.5rem;
            }
        }
    }
}