@import 'root';

@media (max-width: 1600px) {
    html {
        font-size: 16px
    }
}

@media (max-width: 1550px) {
    html {
        font-size: 15.5px
    }
}

@media (max-width: 1500px) {
    html {
        font-size: 15px
    }
}

@media (max-width: 1450px) {
    html {
        font-size: 14.5px
    }

    .aside {
        width: 2rem;

        &.open {
            width: 5rem;

            &>* {
                opacity: 1;
                visibility: visible;
            }
        }

        &>*:not(button) {
            opacity: 0;
            visibility: hidden;
        }

        &:hover {
            & {
                width: 5rem;

                >* {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 14px
    }
}

@media (max-width: 1350px) {
    html {
        font-size: 13.5px
    }
}

@media (max-width: 1300px) {
    html {
        font-size: 13px
    }
}

@media (max-width: 1250px) {
    html {
        font-size: 12.5px
    }

    .wrap {
        width: calc(100% - 100px);
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    h2 {
        font-size: 2.25rem; //36px
    }

    h4 {
        font-size: 1.5rem; //24px
    }
    .wrap {
        width: calc(100% - 30px);
    }

    .showroom {
        &::before{
            width: 80%;
        }
        &__subTitle {
            position: static;
        }

        &__box {
            margin-top: 1rem;
            flex-wrap: wrap;
        }

        &__content {
            margin-top: 1.5rem;
            width: 100%;
            justify-content: space-between;
        }

        &__slider {
            &Option {
                margin-bottom: 0.625rem;
                max-width: 100%;
            }

            &Box {
                max-width: 100%;
                order: -1;
                position: static;
            }
        }

        &__nav {
            width: auto;
        }

        &__btn {
            display: none;
        }
    }

    .nav {
        display: none;
        &__list {
            flex-wrap: wrap;
        }
    }

    .aside {
        padding: 8px 0;
        position: relative;
        height: auto;
        width: calc(100% - 30px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        border: none;

        &:hover {
            width: calc(100% - 30px);
        }

        &__toggle {
            height: auto;
            width: 1.8rem;
            order: -1;
            height: 1.2rem;
            box-sizing: border-box;

            &-line {
                display: block;
            }

            &::after,
            &::before,
            &-line {
                background-color: red;
                width: 100%;
                left: 0;
                top: 0;
                height: 1px;
            }

            &::before {
                top: auto;
                bottom: 0;
            }
        }

        &__search {
            display: block;
        }

        &__logo {
            opacity: 1 !important;
            visibility: visible !important;
            padding: 0;
            height: 3.6rem;
            border: none;
        }

        &__social {
            display: none;
        }
    }

    .catalog {
        &__filter {
            position: absolute;
            top: 0;
            right: 0;
        }

        &__sale {
            display: none;
        }

        &__list {
            width: 100%;
        }

        &__box {
            justify-content: space-between;
        }

        &__item {
            margin-top: 0;
            margin-bottom: 2rem;

            &:not(:nth-child(2n)) {
                margin-top: 0;
            }
        }
    }

    .contacts {
        &__title {
            margin-bottom: 2rem;
        }

        &__box {
            margin-bottom: 4rem;
        }

        &__box,
        &__row {
            flex-wrap: wrap;
        }

        &__col-left,
        &__col-right,
        &__map,
        &__showroomBtn {
            width: 100%;
            margin-bottom: 2rem;
        }

        &__col-left {
            margin-bottom: 3rem;
        }

        &__map,
        &__showroomBtn {
            height: 12rem;
            width: 100%;
        }

    }

    .notFound {
        padding: 3rem 0 1rem;

        &__box {
            background-image: none;
        }

        &__title {
            font-size: 8.75rem;
            text-align: center;
        }

        &__subtitle {
            margin-bottom: 1.4rem;
        }
    }

    .goods {
        &__box {
            flex-wrap: wrap;
        }

        &__nav {
            width: 100%;
            display: flex;
            position: static;
        }

        &__gallery {
            width: 100%;

            &Item {
                width: 100%;
                background-color:$bgc;

            }

            &Content {
                padding: 0 1.25rem 2rem;
                position: relative;
            }

            &Title {
                display: block;
            }

            &Footer {
                margin-top: 1rem;
            }

            &Link {
                position: absolute;
                padding: 0;
                height: 100%;
                bottom: 0;
                left: 0;
                border-radius: 0;
                margin: 0;
                border: none;
                width: 100%;

                & svg {
                    display: none;
                }
            }
        }
    }

    .employee {
        margin-bottom: 0;

        &__item {
            position: relative;
            margin-top: 20rem;
            flex-wrap: wrap;
        }

        &__about {
            margin-bottom: 1rem;
        }

        &__subTitle {
            font-size: 1rem;
            margin-bottom: 2rem;
        }

        &__header {
            position: absolute;
            bottom: 100%;
            left: 0;
        }

        &__image {
            width: 100%;

            &Box {
                width: 100%;
                height: auto;
                margin-bottom: 2.25rem;
            }
        }

        &__content {
            position: static;
            padding: 0;
            width: 100%;
        }

        &__text>p {
            font-size: 1rem;
        }

        &__request {
            margin: 2rem 0 0 0;
        }
    }

    .events {
        margin-bottom: 5.5rem; 
        padding-bottom: 3rem;
        &::before{
            content: '';
            background-color: $bgc;
            top: auto;
            bottom: 0;
            width: 100%;
            height: 50%;
        }
        &__header {
            margin-bottom: 2rem;
            flex-wrap: wrap;
        }

        &__title {
            width: 100%;
            max-width: 100%;
            margin-bottom: 2rem;
        }

        &__box {
            flex-wrap: wrap;
        }

        &__nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__counter {
            font-size: 0.875rem;

            &s {
                height: auto;
            }

        }
        &__content{
            width: 100%;
            margin-top: 1.4rem;
        }
        &__slider{
            width: 100%;
            margin-bottom: 2rem;
            order: -1;
        }
    }
    .tips{
        margin-bottom: 6rem;
    }
    .partners{
        margin-bottom: 0;
        &__box{
            flex-wrap: wrap;
        }
        &__title{
            width: 100%;
            font-size: 2.25rem;
            font-family: 'Forum';
            margin-bottom: 5.625rem;
        }
        &__list{
            justify-content: space-between;
            width: 100%;
        }
        &__item{ 
            padding: 0;
            margin: 0 0 3rem 0;
            width: 48.5%;
        }
    }
    .contacts{
        &__subTitle{
            font-size: 1rem;
        }
        &__box{
            margin-bottom: 0;
        }
        &__item{
            font-size: 1rem;
            &-phone{
                font-size: 1.125rem;
            }
        }
        &__social{
            padding-top: 2rem;
        }
    }
    .footer{
        &__box{
            flex-wrap: wrap;
            position: relative;
        }

        &__col{
            width: 100%;
            &-last{
                margin-top: 0.8rem;
                text-align: left;
                justify-content: flex-start;
            }
        }
        &__nav{
            width: 50%;
            order: -1;
            margin-bottom: 3rem;
        }
    }
    .policity{
        margin: .8rem 0 0 0;
    }
    .asap{
        margin: 0;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 768px){
    .goods{
        &__title{
            font-size: 1.5rem;
        }
        &__nav{
            & .owl-item{
                transition: none;
                display: inline-flex;
                &:not(.active){
                    opacity: 1;
                }
            }
            &Item{
                
            }
        }
    }
}